<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-helper-table-heading">Create or edit a Helper Table</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!helperTable.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="helperTable.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_helperTableSid">Helper Table Sid</label>
                    <input type="number" class="form-control" name="helperTableSid" id="field_helperTableSid"
                        [(ngModel)]="helperTable.helperTableSid" required/>
                    <div [hidden]="!(editForm.controls.helperTableSid?.dirty && editForm.controls.helperTableSid?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.helperTableSid?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.helperTableSid?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="helperTable.description" maxlength="100"/>
                    <div [hidden]="!(editForm.controls.description?.dirty && editForm.controls.description?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.description?.errors?.maxlength">
                        This field cannot be longer than 100 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_listName">List Name</label>
                    <input type="text" class="form-control" name="listName" id="field_listName"
                        [(ngModel)]="helperTable.listName" maxlength="50"/>
                    <div [hidden]="!(editForm.controls.listName?.dirty && editForm.controls.listName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.listName?.errors?.maxlength">
                        This field cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_refCount">Ref Count</label>
                    <input type="number" class="form-control" name="refCount" id="field_refCount"
                        [(ngModel)]="helperTable.refCount" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdBy">Created By</label>
                    <input type="number" class="form-control" name="createdBy" id="field_createdBy"
                        [(ngModel)]="helperTable.createdBy" required/>
                    <div [hidden]="!(editForm.controls.createdBy?.dirty && editForm.controls.createdBy?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createdBy?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.createdBy?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_createdDate">Created Date</label>
                    <div class="d-flex">
                        <input id="field_createdDate" type="datetime-local" class="form-control" name="createdDate" [(ngModel)]="createdDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.createdDate?.dirty && editForm.controls.createdDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.createdDate?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.createdDate?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedBy">Modified By</label>
                    <input type="number" class="form-control" name="modifiedBy" id="field_modifiedBy"
                        [(ngModel)]="helperTable.modifiedBy" required/>
                    <div [hidden]="!(editForm.controls.modifiedBy?.dirty && editForm.controls.modifiedBy?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modifiedBy?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.modifiedBy?.errors?.number">
                            This field should be a number.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_modifiedDate">Modified Date</label>
                    <div class="d-flex">
                        <input id="field_modifiedDate" type="datetime-local" class="form-control" name="modifiedDate" [(ngModel)]="modifiedDate"
                        required/>
                    </div>
                    <div [hidden]="!(editForm.controls.modifiedDate?.dirty && editForm.controls.modifiedDate?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.modifiedDate?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                            [hidden]="!editForm.controls.modifiedDate?.errors?.ZonedDateTimelocal">
                            This field should be a date and time.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_aliasName">Alias Name</label>
                    <input type="text" class="form-control" name="aliasName" id="field_aliasName"
                        [(ngModel)]="helperTable.aliasName" maxlength="1000"/>
                    <div [hidden]="!(editForm.controls.aliasName?.dirty && editForm.controls.aliasName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.aliasName?.errors?.maxlength">
                        This field cannot be longer than 1000 characters.
                        </small>
                    </div>
                </div>

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
